.wrapper {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 3px
}

.liked {
  color: var(--color-accent);
}

.badge {
  font-family: var(--font-family-body);
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-medium);
  color: var( --color-alarm);
}
