.label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  user-select: none;
  color: var(--color-text);
  cursor: pointer;
}

.input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 2px;
  flex-shrink: 0;
}

.text {
  line-height: var(--line-height-body);
}
