.CategoryWrapper {
  width: 488px;
  display: inline-flex;
  flex-direction: row;
  gap: 12px;
}

.IconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.Section {
  width: 436px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Category {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-h2);
  letter-spacing: -1.1%;
  text-align: left;
}

.SubList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.SubCat {
  list-style-type: none;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

.SubButton {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-text);
  text-align: left;
}

.yellow {
  background-color: var(--color-tag-languages);
}

.blue {
  background-color: var(--color-tag-education);
}

.green {
  background-color: var(--color-tag-health);
}

.purple {
  background-color: var(--color-tag-business);
}

.pink {
  background-color: var(--color-tag-art);
}

.peach {
  background-color: var(--color-tag-home);
}

.gray {
  background-color: var(--color-tag-plus);
}
