.layout {
  display: flex;
  min-height: calc(100vh - 104px);
  flex-direction: column;
}

.page {
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex: 1;
  flex-direction: column;
  padding: var(--space-xl) 36px 60px;
  margin: 0 auto;
  gap: var(--space-xl);
}