.button {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: var(--radius-lg);
  font: inherit;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-h4);
  letter-spacing: 0.02em;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.15s ease;
}

.button:disabled {
  cursor: not-allowed;
}

.primary {
  color: var(--color-text);
  background-color: var(--color-accent);
}

.primary:hover {
  background-color: var(--color-button-hover);
}

.primary:active {
  color: var(--color-card-input);
  background-color: var(--color-link-button);
}

.primary:disabled {
  color: var(--color-caption);
  background-color: var(--color-disabled);
}

.secondary {
  color: var(--color-text);
  background-color: var(--color-card-input);
  border-color: var(--color-accent);
}

.secondary:hover {
  color: var(--color-caption);
  border-color: var(--color-button-hover);
}

.secondary:active {
  color: var(--color-text);
  border-color: var(--color-link-button);
}

.secondary:disabled {
  color: var(--color-text-disabled);
  border-color: var(--color-disabled);
}

.ghost {
  color: var(--color-text);
  background-color: var(--color-card-input);
}

.ghost:hover {
  background-color: var(--color-button-hover);
}

.social {
  width: 100%; /* ширину задает контейнер формы */
  gap: 12px;
  color: var(--color-text);
  background-color: var(--color-card-input);
  border-color: var(--color-caption);
}

.social:hover {
  border-color: var(--color-accent);
  color: var(--color-caption);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
