.wrapper {
  position: relative;
  display: inline-block;
  width: clamp(48px, 20vw, 244px);
  height: clamp(48px, 20vw, 244px);
  aspect-ratio: 1;
}

.avatar {
  width: 100%;
  height: 100%;
}

/* повысили приоритет над стилями IconButton при помощи дублирования класса */
.editButton.editButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--color-button-hover);
}

/* переопределили размеры иконки, чтобы она не растягивалась */
.editButton svg {
  width: 24px;
  height: 24px;
}

@media (width <=768px) {
  .editButton.editButton {
    width: 36px;
    height: 36px;
  }
}
