.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-h1);
}

.action {
  display: flex;
  align-items: center;
}
