.container {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h2 {
  font-family: var(--font-family-heading);
  margin: 0 0 8px;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-h2);
  color: var(--color-text);
}

.header p {
  font-family: var(--font-family-body);
  margin: 0;
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  color: var(--color-text);
}

.topActions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 24px;
}

.content {
  display: grid;
  grid-template-columns: minmax(0, 420px) minmax(200px, 440px);
  justify-content: space-between;
  place-self: center;
  column-gap: 77px;
  align-items: stretch;
}

.contentModal {
  grid-template-columns: minmax(0, 420px) minmax(0, 440px);
  gap: 44px;
  align-items: stretch;
}

@media (width <= 1024px) {
  .content {
    grid-template-columns: minmax(0, 400px);
    grid-template-rows: minmax(0, 300px) 1fr;
    gap: 24px;
  }

  .gallery {
    order: -1;
  }
}
