.header {
  display: flex;
  gap: 32px;
  align-items: center;
  height: 104px;
  padding: 36px 36px 20px;
  background: var(--color-background);
}

.headerPure {
  height: 84px;
  padding: 36px 36px 0;
}

.left {
  display: flex;
  align-items: center;
  gap: 32px;
  flex: 1;
  min-width: 0;
}

.link {
  white-space: nowrap;
  letter-spacing: 0.02em;
}

.span {
  color: var(--color-text);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
  flex: 1;
  min-width: 0;
}

.search {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.actions {
  display: flex;
  align-items: center;
}

.loggedOutActions {
  display: flex;
  align-items: center;
  gap: 32px;
}

.authActions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loggedInActions {
  position: relative;
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 24px;
}

.categoryButton {
  display: flex;
  align-items: center;
  gap: 4px;
  letter-spacing: 0.02em;
  white-space: nowrap;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-text);
}

.icon {
  color: var(--color-text);
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.dropdownHeader {
  position: absolute;
  top: 58px;
  left: -293px;
  width: min(90vw, 1136px);
  max-width: calc(100vw - 72px);
  box-sizing: border-box;

  /* transform: translateX(-293px) translateY(22px); */
}

.dropdownAccount {
  transform: translateY(20px);
}

.notificationWidget {
  transform: translateY(43px);
}

.mobileMenuItem {
  display: none;
}

@media (width <=1024px) {
  .header {
    gap: 24px;
  }

  .left {
    gap: 24px;
  }

  .navigation {
    gap: 16px;
  }

  .loggedOutActions {
    gap: 24px;
  }

  .icons {
    gap: 12px;
    margin-right: 16px;
  }

  .dropdownHeader {
    width: calc(100vw - 48px);
    left: -269px;
  }
}

@media (width <= 768px) {
  .header {
    gap: 16px;
    height: 84px;
    padding: 24px 24px 0;
  }

  .left {
    gap: 16px;
  }

  .icpons {
    gap: 10px;
  }

  .link {
    display: none;
  }

  .icon {
    display: none;
  }

  .icons {
    display: none;
  }

  .mobileMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 0 0;
  }

  .mobileMenuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--color-text);
    cursor: pointer;
  }

  .notificationWidget {
    transform: translateY(44px);
  }

  .dropdownHeader {
    left: -44px;
  }
}
