.Widget {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.NotiBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.Notify {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
}

.Unread {
  max-height: 232px;
}

.Read {
  max-height: 104px;
}

.Title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ButtonSpan {
  color: var(--color-link-button);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-medium);
}

.None {
  color: var(--color-text-disabled);
}
