.errorWrapper {
  width: 460px;
  min-height: 480px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.imgWrapper {
  width: 100%;
  height: 304px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgWrapper svg {
  color: var(--color-text);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.textWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);

  > h2 {
    font-family: Jost, sans-serif;
    font-weight: 500;
    line-height: 28px;
    font-size: var(--font-size-h2);
    letter-spacing: -1.1%;
  }

  > p {
    line-height: 24px;
    letter-spacing: 0.02em;
    width: 100%;
    text-align: center;
  }
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  gap: var(--space-lg);
}

@media (width <= 748px) {
  .errorWrapper {
    max-width: 90vw;
    min-height: auto;
  }

  .imgWrapper {
    max-height: 220px;
  }

  .imgWrapper svg {
    max-height: inherit;
  }
}
