.selectWrapper {
  min-width: 208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font: inherit;
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.select {
  position: relative;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid var(--color-caption);
  border-radius: var(--radius-lg);
}

.select.error {
  border-color: var(--color-error);
}

.select.error:focus-within {
  border-color: var(--color-error);
  box-shadow: 0 1px 5px var(--color-error);
}

.errorText {
  font-size: var(--font-size-caption);
  color: var(--color-error);
  font-weight: var(--font-weight-regular);
  margin-top: 4px;
}

.select.opened {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.label {
  color: var(--color-text);
}

.placeholder {
  width: 100%;
  background: none;
  height: 48px;
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  letter-spacing: inherit;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--color-text);
}

.placeholder.opened {
  position: relative;
  z-index: 6;
  background-color: var(--color-card-input);
  border-bottom: 1px solid var(--color-disabled);
  border-radius: var(--radius-lg);
}

.open {
  transform: scaleY(-1);
}

.placeholderText {
  color: var(--color-caption);
}

.options {
  position: absolute;
  top: 100%;
  right: -1px;
  left: -1px;
  z-index: 5;
  width: auto;
  max-height: 256px;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  gap: 4px;
  overflow-y: auto;
  overscroll-behavior: contain;
  background-color: var(--color-card-input);
  border: 1px solid var(--color-caption);
  border-top: none;
  border-radius: 0 0 var(--radius-lg) var(--radius-lg);
}

.option {
  height: 32px;
  color: var(--color-text);
  padding: 4px 20px;
  cursor: pointer;
  text-align: left;
  border: none;
}

.option:hover {
  background-color: var(--color-disabled);
  border: none;
}

.selected {
  color: var(--color-link-button);
}
