.selectWrapper {
  min-width: 208px;
  width: 100%; /* Займет ширину контейнера, в который будет помещён */
  display: flex;
  flex-direction: column;
  gap: 4px;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #253017;
}

.select{
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #69735D;
  border-radius: 12px;
}

.select.opened {
  height: auto;
}

.label{
  color: #253017;
}

.placeholder {
  width: 100%;
  background: none;
  height: 48px;
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
}

.placeholder.opened {
  border-bottom: 1px solid #E4E8DF;
  border-radius: 12px;
}

.open{
  transform: scaleY(-1);
}

.placeholderText{
  color: #69735D;
}

.options{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  gap: 4px;
}

.option{
  height: 32px;
  color: #253017;
  padding: 4px 20px;
  cursor: pointer;
}

.option:hover{
  background-color: #E4E8DF;
}

.selected{
  color: #508826;
}
