.wrapper {
  border: none;
  background-color: var(--color-card-input);
  padding: 0 12px;
}

.input::-webkit-search-cancel-button,
.input::-webkit-search-decoration {
  appearance: none;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.clearButton {
  display: flex;
  align-items: center;
  color: var(--color-text);
  cursor: pointer;
}
