/* =========================================
   1. ГЛАВНЫЙ КОНТЕЙНЕР (САЙДБАР)
   ========================================= */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 332px;
  padding: 24px;
  background-color: var(--color-card-input);
  border-radius: 12px;
}

/* =========================================
   2. ШАПКА ВИДЖЕТА
   ========================================= */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.mainTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-h2);
  letter-spacing: -0.011em;
}

.count {
  color: var(--color-text);
}

.resetButton {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  color: var(--color-link-button);
  font-family: var(--font-family-body);
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-regular);
  transition: opacity 0.2s ease;
}

.resetButton:hover {
  opacity: 0.8;
}

.modalFilters {
  overflow-y: auto;
}

.modalFiltersContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobileFilters {
  display: none;
}

@media (width <=1024px) {
  .sidebar {
    padding: 16px;
  }
}

@media (width <= 768px) {
  .sidebar {
    display: none;
  }

  .mobileFilters {
    display: flex;
  }

  .mobileFiltersHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 0 12px;
    background-color: var(--color-card-input);
    border-radius: 12px;
  }
}
